
<style>
    .footer {
        position: absolute;
        bottom: 0%;
        width: 100%;
    }
</style>

<footer class="py-5 footer" style="background: #6C63FF">
<div class="container"><p class="m-0 text-center text-white">Copyright &copy; XII SIJA 2 2023</p></div>
</footer>